# Generated Measurement Dummy - {{ class_name }}
import torch
import torch.nn as nn
import torchquantum as tq

class {{ class_name }}(nn.Module):
    def __init__(self, n_qubits={{ n_qubits }}, num_classes={{ num_classes }}):
        super().__init__()
        self.qdevice = tq.QuantumDevice(n_wires=n_qubits)
        self.fc = nn.Linear(n_qubits, num_classes)

    def forward(self, x=None):
        self.qdevice.reset_states(bsz=x.shape[0])
        self.qdevice.set_states(x)

        measured = [
            tq.measurement.expval(self.qdevice, wires=i, observables=tq.PauliZ())
            for i in range({{ n_qubits }})
        ]
        measured_tensor = torch.stack(measured, dim=1)  # shape: [bsz, n_qubits, 1]
        measured_tensor = measured_tensor.squeeze(-1)

        
        return self.fc(measured_tensor)
